@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    margin:0px;
}

::-webkit-scrollbar{
    display:none;
}

.border{
    border-top: 35px solid blue;
}
